/* General Part */
body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

section {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;

}

/* First Part Edit Start Here */

.first-part {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    background-color: #161616
}

.banner-text,
.banner-image {
    width: 45%;
}

.banner-heading {
    font-size: 3em;
    margin: 20px 0;
}

.button {
    background-color: #DD0000;
    width: fit-content;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 7px;
}

.button>a {
    display: flex;
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.button>a>p {
    margin-left: 5px;
}

/* button animation  */

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* First Part Edit End Here */

/* Second Part Edit Start Here  */
.second-section {
    display: flex;
}

aside {
    width: 300px;
}

.links {
    background-color: rgb(35, 35, 35);
    padding: 30px;
    border-radius: 10px;
}

.link {
    margin: 10px;
    padding: 20px 30px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.link>a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: black;
}

#extra-link {
    background-color: #DD0000;
    color: white;
}

#extra-link>a {
    color: white;
}

.grid-blogs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin: 0 auto;
    margin-left: 30px;
}

.blog {
    border: 2px solid gainsboro;
    border-radius: 10px;
}

.blog-thumbnail>img {
    width: 100%;
    border-radius: 10px;
}

.transfar {
    border: 1px solid black;
    border-radius: 5px;
    width: fit-content;
    padding: 7px 20px;
    margin: 15px 15px;
}

.blog-text {
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
}

.blog-icons,
.time,
.comment {
    margin-top: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.time,
.comment {
    width: 15%;
    margin-left: 15px;
    justify-content: space-between;
}

.extra-button {
    display: none;
}

/* Second Part Edit End Here  */

/* Footer part edit start here */
footer {
    background-color: #161616;
    text-align: center;
    margin-top: 50px;
    color: white;
}

footer>h2 {
    font-size: 35px;
    padding: 30px;
}

hr {
    width: 80%;
    margin: 0 auto;
    border: 1px solid grey;
}

.footer-items,
.footer-icons {
    display: flex;
    justify-content: center;

}

.footer-items>p {
    margin: 20px;
}

.fa-brands {
    font-size: 40px;
    padding: 20px;
    color: white;
}

/* Footer part edit End here */

/* -----------Media Query----------- */

/* For Mobile */
@media only screen and (max-width:688px) {
    section {
        width: 100%;
    }

    /* First Part */
    .first-part {
        flex-direction: column;
    }

    .banner-text,
    .banner-image {
        width: 90%;
    }

    .banner-heading {
        font-size: 2em;
        margin: 20px 0;
    }

    .banner-details {
        width: 80%;
        height: 57px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    /* Second Part */
    .second-section {
        flex-direction: column;
    }

    aside {
        width: 100%;
    }

    .top-links {
        width: 60%;
        margin: 0 auto;
    }

    .links {
        padding: 10px;
    }

    .links>a {
        font-size: 1em;
    }

    .grid-blogs {
        grid-template-columns: 1fr;
        margin: 0 auto;
        margin-top: 40px;
    }

    .extra-button {
        display: none;
    }

    .footer-items {
        flex-direction: column;
    }
}

/* For Tablets */

@media only screen and (min-width:689px) and (max-width:992px) {

    .second-section {
        flex-direction: column;
        align-items: center;
    }

    .top-link {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    aside {
        width: 100%;
    }

    .link {
        border: 1px solid black;
        border-radius: 10px;
        padding: 15px 10px;

    }

    .grid-blogs {
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        margin-top: 40px;
    }

    .grid-blogs>.blog:last-child {
        display: none;
    }

    .extra-button {
        display: block;
        margin-top: 25px;
    }

    .extra-button>.button {
        padding: 15px 30px;
        font-size: 1.3em;
    }

    .footer-items {
        width: 70%;
        flex-wrap: wrap;
        margin-left: auto;
        margin-right: auto;
    }
}